# Loading Data into Pandas

In [1]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv')

# Reading Data in Pandas

In [2]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

# Making Changes to the Data

In [7]:
df['Total'] = df.iloc[:, 4:10].sum(axis=1)

# x = list(df.columns.values)
cols = df.columns.values.tolist()
df = df[cols[:4] + [cols[-1]] + cols[4:12]]

# Filtering Data

In [4]:
import re

# df = df.loc[~df['Name'].str.contains('mega', flags=re.I, regex=True)]

df = df.loc[(df['Generation'] < 5) & (df['Legendary'] == False) & 
           (~df['Name'].str.contains('mega', flags=re.I, regex=True))]

df.to_csv('filtered.csv', sep=';', index=False)


poke_type = 'Steel'
new_df_filter = df.loc[((df['Attack'] > 90) | (df['Sp. Atk'] > 90)) & 
                       ((df['Type 1'] == poke_type) | (df['Type 2'] == poke_type))]


new_df_filter.reset_index(drop=True, inplace=True)

new_df_filter.to_csv('filtered_types.csv', sep=';', index=False)

new_df_filter.sort_values(by=['Attack'], ascending=False)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,376,Metagross,Steel,Psychic,600,80,135,130,95,90,70,3,False
2,212,Scizor,Bug,Steel,500,70,130,100,55,80,65,2,False
3,306,Aggron,Steel,Rock,530,70,110,180,60,60,50,3,False
6,448,Lucario,Fighting,Steel,525,70,110,70,115,70,90,4,False
5,395,Empoleon,Water,Steel,530,84,86,88,111,101,60,4,False
7,462,Magnezone,Electric,Steel,535,70,70,115,130,90,60,4,False
1,82,Magneton,Electric,Steel,465,50,60,95,120,70,70,1,False
0,81,Magnemite,Electric,Steel,325,25,35,70,95,55,45,1,False

# Changing Data with Conditional Changes

In [5]:
df.loc[df['Type 1'] == 'Fire', 'Legendary'] = True
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,True
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,479,RotomFan Rotom,Electric,Flying,520,50,65,107,105,107,86,4,False
536,479,RotomMow Rotom,Electric,Grass,520,50,65,107,105,107,86,4,False
546,488,Cresselia,Psychic,NaN,600,120,70,120,75,130,85,4,False
547,489,Phione,Water,NaN,480,80,80,80,80,80,80,4,False
548,490,Manaphy,Water,NaN,600,100,100,100,100,100,100,4,False

# Agregate Statistics (GroupBy)

In [6]:
df = pd.read_csv('filtered.csv', delimiter=';')

# df.groupby(['Type 1']).mean().sort_values('Sp. Atk', ascending=False)

df.groupby(['Type 1']).count()['#'].sort_values(ascending=False)

# df.groupby(['Type 1', 'Type 2']).count()['#'].sort_values(ascending=False)

Type 1
Water       80
Normal      70
Grass       44
Bug         43
Electric    29
Fire        27
Rock        26
Poison      24
Psychic     24
Ground      20
Fighting    15
Ghost       13
Ice         13
Dark        11
Steel       11
Dragon      10
Fairy        8
Name: #, dtype: int64

# Working with Large Amounts of Data

In [7]:
new_df = pd.DataFrame(columns=df.columns)

for df in pd.read_csv('filtered.csv', delimiter=';', chunksize=5):
    results = df
    
    new_df = pd.concat([new_df, results])
    
new_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,479,RotomFan Rotom,Electric,Flying,520,50,65,107,105,107,86,4,False
464,479,RotomMow Rotom,Electric,Grass,520,50,65,107,105,107,86,4,False
465,488,Cresselia,Psychic,NaN,600,120,70,120,75,130,85,4,False
466,489,Phione,Water,NaN,480,80,80,80,80,80,80,4,False
467,490,Manaphy,Water,NaN,600,100,100,100,100,100,100,4,False